@import "tailwindcss";

@theme {
  --color-primary: #002730;
  --color-bg: #f9fafd;
  --color-greytext: #475467;
  --font-display: "Inter";
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

@layer base {
  header .container nav ul a {
    font-size: 15px;
  }
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 15px;
  }

  /* logos animation  */
  .scrolling-logos {
    animation: scroll-left 10s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /* animation of the 4 imgs */
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .slide-in-right {
    animation: slideInRight 0.8s ease-out forwards;
  }

  /* caroussel animation */
  .carousel-slide {
    transition: transform 0.5s ease-in-out;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  .faq-answer.show {
    opacity: 1;
    max-height: 200px; /* adjust based on expected content */
  }



  @keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menuBoxAnimate {
  animation: fadeSlideUp 0.4s ease forwards;
}

}
